
body {
    background-image: url(https://i.pinimg.com/736x/93/bd/8e/93bd8e25dcc6b59e8003850d7bcf52c5.jpg);
    background-size:cover
    /* background-repeat: no-repeat; */
}

* {
    font-family: 'MedievalSharp', cursive;
    font-size: 22px;
    
}

#HomeIntro {
    height:900px;
    background-image: url('https://img-9gag-fun.9cache.com/photo/a8qMWeZ_700bwp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, 10px;
}

.ClassButtons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.SaveClassButton {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.RaceButtons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.SaveRaceButton {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.SaveAlignButton {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.SignInButton {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}


.ClassTitle {
    color: azure;
    text-align: center;
    padding: 20px;
}
.RaceTitle {
    color: azure;
    text-align: center;
    padding: 20px;
}
.AlignmentTitle {
    color: azure;
    text-align: center;
    padding: 20px;
}

.AlignmentImg {
    display: flex;
    justify-content: center;    
    padding: 20px;
}

.RollLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.RollButton {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px; 
}

.AddBonusButton{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.SaveRollsButton {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.AllRolls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AlignSelect{
    margin: auto;
    width: 50%;
}

.ChracterInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.CharNameField{
    flex-grow: 1;
}

.CharLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.CharClass {
    margin-top: 10px;
    flex-grow: 1;
}

.CharRace {
    margin-top: 10px;
    flex-grow: 1;
}

.CharAlign {
    margin-top: 10px;
    flex-grow: 1;
}

.CharacterStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex-basis: 100%;
    flex: 1;
    padding: 30px;
}

/* .CharacterSkills {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 30px;
} */

.CharacterMods {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 30px;
}

.checkbox{
    background-color : #212529; 
    width: 25%;
  }

.CharacterWeapons {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.5;
    padding: 30px;
}

.PreviewInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}
.PreviewStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

#name_field {
    margin: 20px;
}

.EnterCombat {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.FightCombat {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.FindEnemy {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}
